{% extends 'base.html.twig' %}

{% block title %} | Editer une sortie {% endblock %}

{% block body %}
    <div class="w3-container w3-margin">
    <h1>Editer une sortie</h1>
    <div class="w3-container">
        {{ form_start(eventEditForm) }}
        <div class="w3-half">
            {{ form_row(eventEditForm.name) }}
            {{ form_row(eventEditForm.startDateTime) }}
            {{ form_row(eventEditForm.registrationLimitDate) }}
            {{ form_row(eventEditForm.registrationMaxNb) }}
            {{ form_row(eventEditForm.duration) }}
            {{ form_row(eventEditForm.eventInfos) }}
            <p>Campus : {{ app.user.campus.name }}</p>
            {{ form_widget(eventEditForm.spot) }}
            <br>
            <button class="w3-btn w3-red w3-round" type="submit">Enregistrer</button>
            {{ form_end(eventEditForm) }}
            <a href="{{ path('event_publish', {'id': event.id}) }}" class="w3-btn w3-red w3-round">Publier la sortie</a>
            <a href="{{ path('event_remove', {'id': event.id}) }}" class="w3-btn w3-red w3-round">Supprimer la sortie</a>
            <a href="{{ url('home') }}" class="w3-btn w3-red w3-round">Annuler</a>
        </div>


    </div>
    </div>
{% endblock %}