{% extends 'base.html.twig' %}

{% block title %} | Créer une sortie {% endblock %}

{% block body %}
    <br><br>
    <h1>Créer une sortie !</h1>
    <div class="w3-container">
    {{ form_start(eventAddForm) }}
        <div class="w3-half">
            {{ form_row(eventAddForm.name) }}
            {{ form_row(eventAddForm.startDateTime) }}
            {{ form_row(eventAddForm.registrationLimitDate) }}
            {{ form_row(eventAddForm.registrationMaxNb) }}
            {{ form_row(eventAddForm.duration) }}
            {{ form_row(eventAddForm.eventInfos) }}
            <p>Campus : {{ app.user.campus.name }}</p>
            {{ form_widget(eventAddForm.spot) }}
            <br>
            <button class="w3-btn w3-red w3-round" type="submit">Enregistrer</button>
            {{ form_end(eventAddForm) }}
            <button class="w3-btn w3-red w3-round" type="submit">Publier la sortie</button>
            <a href="{{ url('home') }}" class="w3-btn w3-red w3-round">Annuler</a>
        </div>


    </div>
{% endblock %}