{# @author: quentin #}
{# @comment: formulaire de création d'une sortie :
                hybride génération par symfony / html pour contrôle des lieux/villes en Js#}
{% extends 'layout.html.twig' %}

{% block title %} | Créer une sortie {% endblock %}

{% block body %}
    <br>
    <div class="w3-container w3-margin w3-panel">
        <h1>Créer une sortie ! <span class="w3-tag w3-round w3-indigo w3-right" id="state-tag">En création</span></h1>
        {{ form_start(eventAddForm) }}
        <div class="w3-half w3-padding">
            {{ form_widget(eventAddForm) }}
            <br>
            <button type="submit" class="w3-indigo w3-btn w3-round">Enregistrer</button>
            <a href="{{ url("home") }}" class="w3-btn w3-indigo w3-round">Retour</a>
        </div>
        <div class="w3-half w3-padding">
            <p class="w3-input">Campus : {{ app.user.campus.name }}</p>
            <label for="town">Villes :</label>
            <select class="w3-select" name="town" id="town" required="true">
                <option value="" disabled selected>Choisissez une ville</option>
                {% for town in towns %}
                    <option value="{{ town.id }}" {% if event is defined and event.spot and event.spot.town == town %} selected {% endif %}>{{ town.name }}</option>
                {% endfor %}
            </select>
            <label for="spot">Lieu :</label>
            <select name="selectedSpotId" id="selectedSpotId" class="w3-select" required="true">
                <option value="0" id="spot-null" disabled selected>Choisissez un lieu</option>
                {% for spot in spots %}
                    <option value="{{ spot.id }}" id="spot-{{ spot.id }}">{{ spot.name }}</option>
                {% endfor %}
            </select>
            <p>Rue : <span id="spot_street"></span></p>
            <p>Code Postal :  <span id="spot_postal_code"></span></p>
            <p>Latitude : <span id="spot_latitude"></span></p>
            <p>Longitude : <span id="spot_longitude"></span></p>
            <br><br>
            <a href="{{ url("spot_add") }}" class="w3-btn w3-indigo w3-round">Ajouter un nouveau lieu</a>
            <br><br>
        </div>
        {{ form_end(eventAddForm) }}
    </div>



    <script>
        {# gel du menu de sélection des lieux si aucune ville n'est sélectionnée #}
        document.getElementById('selectedSpotId').disabled = true;
        {# chargement des lieux en fonction de la ville sélectionnée #}
        document.getElementById('town').addEventListener('change', function ()
        {
            document.getElementById('selectedSpotId').disabled = false;
            document.getElementById('selectedSpotId').options.selectedIndex=0;
            {% for spot in spots %}
                if (this.value == {{ spot.town.id }})
                {
                    document.getElementById('spot-{{ spot.id }}').hidden = false;
                    document.getElementById('spot_street').innerText = '';
                    document.getElementById('spot_postal_code').innerText = '';
                    document.getElementById('spot_latitude').innerText = '';
                    document.getElementById('spot_longitude').innerText = '';
                }
                else
                {
                    document.getElementById('spot-{{ spot.id }}').hidden = true;
                }
            {% endfor %}
        });


        {# rechargement des métadonnées de lieu #}
        document.getElementById('selectedSpotId').addEventListener('change', function ()
        {
            {% for spot in spots %}
                if (this.value == {{ spot.id }})
                {
                    document.getElementById('spot_street').innerText = '{{ spot.street }}';
                    document.getElementById('spot_postal_code').innerText = '{{ spot.town.postalCode }}';
                    document.getElementById('spot_latitude').innerText = '{{ spot.latitude }}';
                    document.getElementById('spot_longitude').innerText = '{{ spot.longitude }}';
                }
            {% endfor %}
        });
    </script>
{% endblock %}