{% extends 'base.html.twig' %}

{% block title %} | Detail {% endblock %}

{% block body %}
    <br><br><br><br>
<div class="w3-panel">
    <header class="w3-container">
        <h2>Détail de la sortie - {{ event.name }}</h2>
    </header>

    <div class="w3-container w3-cell-row">
        <div class="w3-cell w3-margin">
            <p>Nom de la sortie : {{ event.name }}</p>
            <p>Date et heure de la sortie : {{ event.startDateTime.format('d/m/Y à G:i') }}</p>
            <p>Date limite d'inscription : {{ event.registrationLimitDate.format('d/m/Y à G:i') }}</p>
            <p>Nombre de places : {{ event.registrationMaxNb }}</p>
            <p>Durée :  {{ event.duration }} minutes</p>
            <p>Description et infos : {{ event.eventInfos }}</p>
            <br>
            {# affichage de la liste des participants #}
            <table class="w3-table w3-striped">
                <h2>Liste des participants inscrits :</h2>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                <tr>
                    {% for registration in registrations%}
                        <td>{{ registration.participant.username }}</td>
                        <td>{{ registration.participant.firstName }} {{ registration.participant.name }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="w3-cell w3-margin">
            <p>Campus : {{ event.campus.name }}</p>
            <p>Lieu : {{ event.spot.name }}</p>
            <p>Rue : {{ event.spot.street }}</p>
            <p>Code postal : {{ event.spot.town.postalCode }}</p>
            <p>Latitude : {{ event.spot.latitude }}</p>
            <p>Longitude : {{ event.spot.longitude }}</p>
            <br><br><br>
            <iframe width="75%" height="75%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{ event.spot.longitude }}%2C{{ event.spot.latitude }}%2C{{ event.spot.longitude }}%2C{{ event.spot.latitude }}&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/>
        </div>


    </div>



</div>


{% endblock %}

