{% extends 'layout.html.twig' %}
{% block body %}

    <div class="container" style="margin: 200px;">

        <form class="" method="post" style="width: max-content;">
            <h1 class="">Bienvenue ! Connectez-vous :)</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                 {% endif %}


            <div class=" w3-padding-16">
                <label for="inputUsername">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="w3-input w3-round w3-padding-16 " required autofocus>
            </div>

            <div class=" w3-padding-16">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="w3-input w3-round w3-padding-16" required>
             </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            <div class="checkbox mb-3 w3-padding-16">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>


            <button class="w3-btn w3-round w3-indigo" type="submit">
                Connexion
            </button>
        </form>
</div>
{% endblock %}

