{% extends 'layout.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block body %}
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
                    <div class="w3-card w3-center w3-right w3-hover-shadow w3-padding" style="margin: 50px;">
                        <p class="dateJour">Date du jour : {{ "now"|date('d/m/Y') }}</p>
                        <p class="userName">Participant : {{ app.user.firstName }}</p>
                    </div>

                <div class="form_plus_card w3-row w3-half">
                    <form class="w3-container home_form w3-col" method="post" action="{{ path('home') }}">
                        <h2 class="titre_form_accueil">Filtrer les sorties</h2>

                        <label for="campus_list" class="campus_lbl">Campus</label>
                        <select class="w3-select campus_list" id="campus_list" name="campus_list">
                            {% for campus in campusList %}
                                <option value="{{ campus.id }}" name="{{ campus.id }}" {% if campus == app.user.campus %}selected="selected"{% endif%} >{{ campus.name }}</option>
                            {% endfor %}
                        </select>


                        <label for="search_input" class="search_lbl">Le nom de la sortie contient :</label>
                        <input type="text" class="search_input w3-input" id="search_input" name="search_input" value="{{ searchWords }}">

                        <label for="date_debut" class="date_debut_lbl">Entre</label>
                        <input type="date" class="date_debut w3-input" id="date_debut" name="date_debut" value="{{ dateDebut }}">

                        <label for="date_fin" class="date_fin_lbl">et</label>
                        <input type="date" class="date_fin w3-input" id="date_fin" name="date_fin" value="{{ dateFin }}">
                        <br>

                        <div class="checkbx">

                            <div>
                                <input type="checkbox" class="user_organisateur w3-check" id="user_organisateur" name="user_organisateur" {% if userOrganisateur == "on" %} checked {% endif %}>
                                <label for="user_organisateur" class="user_organisateur_lbl">Sorties dont je suis l'organisateur/trice</label>
                            </div>

                            <div>
                                <input type="checkbox" class="user_inscrits w3-check" id="user_inscrits" name="user_inscrits" {% if userInscrit == "on" %} checked {% endif %}>
                                <label for="user_inscrits" class="user_inscrits_lbl">Sorties auxquelles je suis inscrit/e</label>
                            </div>

                            <div>
                                <input type="checkbox" class="sorties_passees w3-check" id="sorties_passees" name="sorties_passees" {% if sortiesPassees == "on" %} checked {% endif %}>
                                <label for="sorties_passees" class="sorties_passees_lbl">Sorties passées</label>
                            </div>
                        </div>
                        <button class="w3-btn w3-round w3-indigo" type="submit" style="margin:10px 0px">Valider</button>
                    </form>

                </div>
                <div class="tableau_list_event">
                    <table class="w3-table-all w3-centered">
                        <tr class="w3-indigo">
                            <th>Nom de la sortie</th>
                            <th>Date de la sortie</th>
                            <th>Clôture</th>
                            <th>inscrits/places</th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            <th>Actions</th>
                        </tr>
                        {% for event in eventList %}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>{{ event.startDateTime ? event.startDateTime|date('d/m/Y H:i') : '' }}</td>
                                <td>{{ event.registrationLimitDate ? event.registrationLimitDate|date('d/m/Y H:i') : '' }}</td>
                                <td>{{ event.registrations|length }}/{{ event.registrationMaxNb }}</td>
                                <td>{{ event.state.label }}</td>

                                <td>
                                {% for registration in registrationList %}
                                         {{ (registration.participant.id == app.user.id and registration.event.id == event.id)? 'X' :'' }}
                                {% endfor %}
                                </td>
                                <td>{{ event.owner.firstName }}</td>

                                <td> {#Colonne avec liens à afficher (Détails, Se désister, S'inscrire, Annuler)#}

                                     <a href="{{ url('event_detail', {'id': event.id}) }}">Détails</a>

                                    {% if event.canISuscribe(event, app.user) is same as(true) %}
                                        <a href="{{ url('event_detail', {'id': event.id}) }}">>S'inscrire</a>

                                    {% endif %}

                                  {% if event.canIUnsuscribe(event, app.user) is same as(true) %}
                                    <!-- Trigger/Open the Modal -->
                                    <button onclick="showDesistModal('{{ url('unsuscribe', {'idEvent': event.id}) }}');" style="border: none; text-decoration: underline;cursor: pointer; background: none;">Se désister</button>
                                  {% endif %}

                                    {% if event.canIDelete(event, app.user) is same as(true) %}
                                        <a href="{{ url('event_cancel', {'id' : event.id}) }}">Annuler</a>
                                    {% endif %}


                                    {% if event.canIModify(event, app.user) is same as(true) %}
                                        <a href="{{ url('event_edit', {'id' : event.id}) }}">Modifier</a>
                                    {% endif %}

{#                                    {% if event.canI %}#}

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                </div>
                    <a href="{{ url('event_add')}}" class="w3-btn w3-indigo w3-round">Créer une sortie</a>
                </div>



    </div>
    <!-- The Modal -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container w3-center" >
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Etes-vous sûr de vouloir vous désinscrire ??</p>
                <a href=""><button class="w3-btn w3-round w3-indigo w3-right" type="submit" style="background: #f44336; margin: 10px;">Confirmer</button></a>
            </div>
        </div>
    </div>



{% endblock %}

    {% block js %}
        {{ parent() }}
        <script>
            // Used to toggle the menu on small screens when clicking on the menu button
            function showDesistModal(path) {
                document.getElementById('id01').querySelector('a').href = path;
                document.getElementById('id01').style.display='block';
            }
        </script>
    {% endblock %}