<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{asset('css/w3.css')}}">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/svg" href="{{ asset('images/orange-juice.svg') }}"/>
        <title>Sortir{% block title %}{% endblock %}</title>
    </head>
    <br>
    <body>
    <!-- Navbar -->
    <div class = "w3-top">

        <!-- Navbar on full screens -->
        <div class="left_nav">
            <div class="w3-bar w3-red w3-card w3-left-align w3-large" style="height: 51px;">

                {% if app.user %}
                    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                    <a href="{{ path('home') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Accueil</a>
                    {% if is_granted ('ROLE_ADMIN') %}
                        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Villes</a>
                        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Campus</a>
                    {% endif %}
                    <a href="{{ path('user_show',{ 'id':app.user.id}) }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Mon profil</a>
                    <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Se déconnecter</a>
                {% endif %}
                <!-- logo+titre-->
                <div class="logo_nom_site">
                    <img  class="logo_verre" src="{{ asset('images/orange-juice.svg') }}" width="50px" alt="image"/>
                    <h1 class="nom_site">Sortir.com</h1>
                </div>

            </div>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            {% if is_granted ('ROLE_ADMIN') %}
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Villes</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Campus</a>
            {% endif %}
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Mon Profil</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Se déconnecter</a>

        </div>
    </div>

    {# read and display all flash messages #}
    {% for message in app.flashes('success') %}
            <div class="w3-panel w3-blue w3-margin-top w3-padding-32">
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="w3-panel w3-red w3-margin-top w3-padding-32">
            {{ message }}
        </div>
    {% endfor %}

        {% block body %}
        {% endblock %}


    <!-- Footer -->
    <footer class="w3-center w3-container">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </footer>



    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            let x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") === -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    </body>
</html>
