{# @author: quentin #}
{# @comment: vue simple du profil d'un autre utilisateur #}
{% extends 'layout.html.twig' %}

{% block title %}Consulter un profil{% endblock %}

{% block body %}
    <br>
    <div class="w3-card-2 w3-margin w3-center w3-padding-64">
        <h1>{{ user.username }}</h1>
        {% if app.user.pictureFilename %}
            <img src="{{ asset('images/profile_pictures/' ~ user.pictureFilename )}}" alt="profile_picture" class="w3-round" width="175px" height="175px">
            {% else  %}
            <img src="{{ asset('images/profile_pictures/neutral-user.svg')}}" alt="profile_neutral" class="w3-round" width="175px" height="175px">
        {% endif %}
        <p>Prénom : {{ user.firstName }}</p>
        <p>Nom : {{ user.name }}</p>
        <p>Téléphone : {{ user.phoneNumber }}</p>
        <p>Email : {{ user.emailAdress }}</p>
        <p>Campus : {{ user.campus.name }}</p>

        <button class="w3-btn w3-indigo w3-round" onclick="goBack()">Retour</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
