{% extends 'layout.html.twig' %}

{% block title %}Consulter un profil{% endblock %}

{% block body %}
    <br>
    <div class="w3-card-2 w3-margin w3-center w3-padding">
        <h1>{{ user.username }}</h1>
        <img src="https://via.placeholder.com/150" alt="">
        <p>Prénom : {{ user.firstName }}</p>
        <p>Nom : {{ user.name }}</p>
        <p>Téléphone : {{ user.phoneNumber }}</p>
        <p>Email : {{ user.emailAdress }}</p>
        <p>Campus : {{ user.campus.name }}</p>

        <button class="w3-btn w3-indigo w3-round" onclick="goBack()">Retour</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
