{% extends 'layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="w3-card w3-margin w3-padding">
    <h1>Mon profil</h1>
        {% if app.user.pictureFilename %}
            <img src="{{ asset('images/profile_pictures/' ~ user.pictureFilename )}}" alt="profile_picture" class="w3-round" width="175px" height="175px">
        {% else  %}
            <img src="{{ asset('images/profile_pictures/neutral-user.svg')}}" alt="profile_neutral" class="w3-round" width="175px" height="175px">
        {% endif %}
    <br>
    {{ form_start(userEditFormType) }}
    {{ form_widget(userEditFormType) }}
    <br>

    <br>
    <button class="w3-btn w3-indigo w3-round" type="submit">Enregistrer</button>
    <a href="{{ url('home') }}" class="w3-btn w3-red w3-round">Annuler</a>
    {{ form_end(userEditFormType) }}
    </div>
{% endblock %}